<div class="container-fluid">
  <div class="row main-body">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 table-area" id="dv1">
      <div class="panel_area_head" style="padding: 8px;">
        <span class="table-header-text">{{'studentManagement' | translate}}</span>
        <span style="float: right;">
              <div class="input-group mb-3">
                <input #searchValue aria-describedby="button-addon2" aria-label="Recipient's groupname"
                       class="form-control"
                       placeholder="{{'search' | translate}}" type="text">
                <div class="input-group-append">
                  <button (click)="search(searchValue.value)" class="btn btn-info" id="button-addon2"
                          type="button"><i
                    class="fa fa-search"></i></button>
                </div>
              </div>
          </span>
      </div>
      <div class="table-responsive" style="margin-top: 15px; padding: 0 12px 12px;">
        <table class="table table-striped">
          <thead>
          <tr>
            <th class="action-area" scope="col">{{'actions' | translate}}</th>
            <th scope="col">{{'fullName' | translate}}</th>
            <th scope="col">{{'username' | translate}}</th>
            <th scope="col">{{'email' | translate}}</th>
            <th scope="col">{{'educationType' | translate}}</th>
            <th scope="col">{{'dayTimeStudentCount' | translate}}</th>
            <th scope="col">{{'eveningTimeStudentCount' | translate}}</th>
            <th scope="col">{{'advisorStudyBranch' | translate}}</th>
          </tr>
          </thead>
          <tbody>
          <tr
            *ngFor="let student of students | paginate: { itemsPerPage: limit, currentPage: currentPage,totalItems:count }"
            name="logs">
            <td>
              <button (click)="getSelectedStudent(student.id,'edit')" class="btn btn-info fa fa-edit tbl-btn"
                      id="btn-edit"
                      title="{{'edit' | translate}}"></button>&nbsp;
              <button (click)="getSelectedStudent(student.id,'delete')"
                      class="btn btn-danger fa fa-trash tbl-btn"
                      id="btn-delete"
                      title="{{'delete' | translate}}"></button>
            </td>
            <td>{{student.degree}}&nbsp;{{student.fullName}}</td>
            <td>{{student.username}}</td>
            <td>{{student.email}}</td>
            <td>{{student.educationType}}</td>
            <td>{{student.daytimeStudentCount}}</td>
            <td>{{student.eveningStudentCount}}</td>
            <td>{{student.advisorStudyBranch}}</td>
          </tr>
          </tbody>
          <tfoot>
          <tr>
            <td colspan="2"></td>
          </tr>
          <tr>
            <td colspan="1">
              <button class="btn btn-success fa fa-plus-circle" data-target="#addStudent"
                      data-toggle="modal"
                      title="{{'create' | translate}}"></button>
            </td>
            <td colspan="1" style="text-align: left;">
              <pagination-controls (pageChange)="currentPage = $event;pagination(currentPage)"
                                   [autoHide]="count <= limit"
                                   nextLabel="{{'next' | translate}}"
                                   previousLabel="{{'previous' | translate}}"
                                   responsive="true"></pagination-controls>
            </td>
          </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </div>
</div>

<!--Create Student Modal-->
<div aria-hidden="true" aria-labelledby="addStudentLabel" class="modal fade bd-example-modal-lg"
     id="addStudent"
     role="dialog" tabindex="-1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{'addStudent' | translate}}</h5>
        <button aria-label="Close" class="close" data-dismiss="modal" type="button">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="input-group">
          <div class="input-group-prepend">
                        <span class="input-group-text modal-text-width"
                              id="addStudentFullNameLabel">{{'fullName' | translate}}</span>
          </div>
          <input #fullName (input)="null" aria-describedby="student" class="form-control"
                 id="addStudentFullNameInput"
                 required="required" type="text">
        </div>
        <div class="input-group">
          <div class="input-group-prepend">
                        <span class="input-group-text modal-text-width"
                              id="addStudentUsernameLabel">{{'username' | translate}}</span>
          </div>
          <input #username (input)="null" aria-describedby="student" class="form-control"
                 id="addStudentUsernameInput"
                 required="required" type="text">
        </div>
        <div class="input-group">
          <div class="input-group-prepend">
                        <span class="input-group-text modal-text-width"
                              id="addStudentEmailLabel">{{'email' | translate}}</span>
          </div>
          <input #email (input)="null" aria-describedby="student" class="form-control"
                 id="addStudentEmailInput"
                 required="required" type="text">
        </div>
        <div class="input-group">
          <div class="input-group-prepend">
                        <span class="input-group-text modal-text-width"
                              id="addStudentEducationTypeLabel">{{'educationType' | translate}}</span>
          </div>
          <input #educationType (input)="null" aria-describedby="student" class="form-control"
                 id="addStudentEducationTypeInput"
                 required="required" type="text">
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-secondary" data-dismiss="modal"
                type="button">{{'cancel' | translate}}</button>
        <button (click)="addStudent(studentName.value)" [disabled]="!studentName.value"
                class="btn btn-primary"
                type="button">{{'save' | translate}}</button>
      </div>
    </div>
  </div>
</div>

<!--Edit Student Modal-->
<div aria-hidden="true" aria-labelledby="editStudentLabel"
     class="modal fade bd-example-modal-lg"
     id="editStudent"
     role="dialog" tabindex="-1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{'editStudent' | translate}}</h5>
        <button aria-label="Close" class="close" data-dismiss="modal" type="button">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="input-group">
          <div class="input-group-prepend">
                        <span class="input-group-text modal-text-width"
                              id="editStudentLabel">{{'student' | translate}}</span>
          </div>
          <input #typeName (input)="null" [value]="student?.student"
                 aria-describedby="student" class="form-control"
                 required="required" type="text">
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-secondary" data-dismiss="modal"
                type="button">{{'cancel' | translate}}</button>
        <button (click)="editStudent(typeName.value)" [disabled]="!typeName.value"
                class="btn btn-primary"
                type="button">{{'save' | translate}}</button>
      </div>
    </div>
  </div>
</div>

<!--Delete Student Modal-->
<div aria-hidden="true" aria-labelledby="deleteStudentLabel"
     class="modal fade bd-example-modal-lg"
     id="deleteStudent"
     role="dialog" tabindex="-1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{'deleteStudent' | translate}}</h5>
        <button aria-label="Close" class="close" data-dismiss="modal" type="button">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="input-group">
          <div class="input-group-prepend">
                        <span class="input-group-text modal-text-width"
                              id="deleteStudentLabel">{{'student' | translate}}</span>
          </div>
          <input (input)="null" [value]="student?.student" aria-describedby="student"
                 class="form-control"
                 disabled
                 required="required" type="text">
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-secondary" data-dismiss="modal"
                type="button">{{'cancel' | translate}}</button>
        <button (click)="deleteStudent()"
                class="btn btn-primary"
                type="button">{{'delete' | translate}}</button>
      </div>
    </div>
  </div>
</div>

<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  color="#339CFF"
  size="default"
  type="ball-spin-clockwise">
</ngx-spinner>
